@import "tailwindcss";

@layer base {
  :root {
    @apply h-full;
  }

  body {
    @apply m-0 min-w-[320px] min-h-screen font-sans antialiased text-gray-900 bg-gray-50;
  }

  h1 {
    @apply text-4xl font-bold leading-tight;
  }
}